<h3>User's form</h3>

<form action="signup.html" method="POST">
    <div class="form-group">
        <label for="InputFirstName">Firstname</label>
        <input type="text" class="form-control col-3 form-control-sm" id="InputFirstName1" placeholder="Enter your firstname">
    </div>
    <div class="form-group">
        <label for="InputLastName">Lastname</label>
        <input type="text" class="form-control col-3 form-control-sm" id="InputLastname1" placeholder="Enter your lastname">
    </div>
    <div class="form-group">
        <label for="InputEmail1">Email address</label>
        <input type="email" class="form-control col-3 form-control-sm" id="InputEmail1" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control col-3 form-control-sm" id="InputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
</form>